
/* dark mode */
.darkm{
    background-color: #333;
    color: #f59595;
}
.darkm.header{
    background-color: #444;
    color: #ccc;
}
.menu{
    float: left;
}
a{
    text-decoration: none;
}
.con{
   
}
.pic{
    width: 230px;
    height: 230px;
    
}
body{
  
 border: 2px solid darkcyan;
height: 70vh;
    display: grid;
    grid-template-columns: (8,1fr);
    grid-template-rows: 100px 100px 100px;
    grid-template-areas: "header header header header header header"
    "sa sa sa ax ax  ax"
    "zx zx zx zx zx zx zx zx"
    "footer footer footer footer footer footer";

}
ul{
    margin:-10px 20px 0px 0px;
}


.record{

    float:left;
    background-color: rgb(147, 39, 220);
text-align: center;
border: solid 2px rgb(0, 255, 187);
width: 95px;
padding: 5px;
border-radius: 5px;
margin: 70px 100px;
}
.name{
    justify-content: center;
    font-size: 30px;
grid-area: name;
}
header{
    background-color: rgba(59, 195, 186,0.4);
  grid-area: span header;

}
.logo{
    width: 65px;
    height: 70px;
    margin: -20px 0px 0px 3px;
    border-radius: 20%;
}
.inlist{
    min-width: 100px;
    min-height: 40px;
    max-height: 40px;
    max-width: 80px;
   align-content: center;
    list-style: none;
    margin: 0px 1px 0px  15px;
   padding: 2px;
    color: rgb(0, 85, 255);
white-space: 15px;
 text-align: center;

 font-size: 22px;
}
.inlist:hover{
    cursor: grab;
    background-color: rgb(245, 136, 149);
    scale: 1.3;
font-weight: 400
}
footer{
    background-color: hwb(180 12% 13%);   
    grid-area:span footer;
    text-align: center;
    min-height: 50px;
    max-height: 40PX;
    justify-content:  end;
overflow: inherit;
 
}

@font-face {
    font-family: 'summer';
    src: url('RubikDistressed-Regular.ttf') format(truetype);
    
}



  /* who_us */
  .container{
    background-color: rgb(86, 142, 144);
    height: max-content;
    padding: 10px;
    border-radius: 40px;
    min-width: 85%;
    max-width: 93%;
    text-align: center;
   justify-self:center;
   justify-content: center;
  }
  .who_us h2{
    color: rgb(177, 39, 39);
    font-family: 'summer',arial;
 position: relative;
 top: -25px;
  }
  .who_us{
    background-color: rgb(172, 211, 246);
    font-size: 30px;
    padding: 20px;
    border: none;
  }
  .who_us p{
    margin-top: -20px;
    min-height:240px;
    max-height: 250px;
  padding: 0px 20px ;
  }