
/* dark mode */
.darkm{
    background-color: #333;
    color: #f59595;
}
.darkm.header{
    background-color: #444;
    color: #ccc;
}
iframe{
    margin: 20px;
    display: flex;
    justify-items: center;
    animation: iframe 10s infinite ease;
    
}
a{
    text-decoration: none;
}
.record{
    float: right;
    position: relative;
    right: -350px;
    top: 20px;
    list-style-type: none;
    border: solid 3px rgb(130, 130, 233);
    transition:border-color 0.5s ease;
    background-color: thistle;
    padding: 10px;
cursor: grab;
display: flex;

}
.inlist{
    float: right;
display: inline-block;
position: relative;
align-content: end;
top:70px;
   width:75px;
   height: 40px;
   text-align: center;
margin: 0px 2px 0px 0px;


}
h4{
   position: relative;
width :400px;
font-size: 30px;
padding:  10px 20px;
}
.inlist:hover{
scale: 1.2;
background-color: cornflowerblue;
border-radius: 10px;
height: 20px;
padding: 10px;
}
.inlist::after{
    background-color: #f59595;
}
.pic{
   
    width: 300px;
    height: 230px;
    }
body{
 border: 2px solid darkcyan;
height:max-content;


}


.name{
    justify-content: center;
 
}
header{
    position: relative;
    background-color: rgba(59, 195, 186,0.4);
top: -40px;
height: 120px;
}
.logo{
    width: 100px;
    height: 100px;
    margin: 0px 0px 0px 3px;
    border-radius: 20%;
}

footer{
    background-color: hwb(180 12% 13%);   

    text-align: center;
    min-height: 50px;
    max-height: 40PX;
    justify-content:  end;
overflow: inherit;
 
}

@font-face {
    font-family: 'summer';
    src: url('RubikDistressed-Regular.ttf') format(truetype);
    
}

  /* who_us */
  .container{
    background-color: rgb(86, 142, 144);
    height: max-content;
    padding: 10px;
    border-radius: 40px;
    min-width: 85%;
    max-width: 93%;
    text-align: center;
   justify-self:center;
   justify-content: center;
  }
  .who_us h2{
    color: rgb(177, 39, 39);
    font-family: 'summer',arial;
 position: relative;
 top: -25px;
  }
  .who_us{
    background-color: rgb(172, 211, 246);
    font-size: 30px;
    padding: 20px;
    border: none;
  }
  .who_us p{
    margin-top: -20px;
    min-height:240px;
    max-height: 250px;
  padding: 0px 20px ;
  }