/* tecnology page */


/* sing in page */

body{
    color: aqua;
width: 99%;
    background-image: url("log.jpg");
background-size: cover;
   background-repeat: no-repeat;
height: 50vh;
}

a{
    text-decoration: none;
    color:dodgerblue;
}
form{

    animation:inp 700ms ease infinite;
align-self: center;
    border:solid black 3px ;
    text-align:left;
padding:4px 50px;
    color: rgb(0, 0, 0);
    line-height: 29px;
box-shadow: 0px 8px 40px 5px  rgba(161, 21, 8, 0.684);
width:400px;
height:55vh;
margin:  10% 35%;
background-color: rgba(9, 78, 207, 0.0);
border-radius: 5px;
 border-color: rgb(107, 173, 186); 
}
label{
    color:white;
  
}
fieldset{
    background-color: brown;
}
input{
    

    width:300px;
    height: 30px;
    line-height: 10px;
    border-radius: 10px;
}
input:hover{
    background-color: rgb(130, 206, 209);
}
input:active{
    background-color: rgb(51, 118, 152);
}
input::placeholder{
text-align: left;
}
.submit{
background-color: rgb(112, 216, 216);
width: 90px;
position: relative;
align-self: center;
height: 30px;
border-radius: 10px;
text-align: center;
font-size: 24px;
cursor: grab;
animation: subm 2s ease infinite;
margin: 0px 40% ;
}


.checkinput{
height: 15px;
width: 20px;

white-space: 4px;

}
.textlogin{
    text-align: center;
font-family: 'log' ,sans-serif;
font-size: 40px;

color: rgb(255, 255, 255);
}
@font-face {
    font-family: 'summer';
    src: url('RubikDistressed-Regular.ttf') format(truetype);
}
   @keyframes subm {
to{transform: scale(1.3);}

        
    }

@keyframes spin{

to {transform:  rotate(360deg) scale(2);}
}

@font-face{
    font-family: 'log';
    src: url(Declander-Demo.ttf) format(truetype);
}


